<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SUPERDROP2">
        <activity
            android:name="com.svvaap.superdrop_admin.Alert_Dialog"
            android:exported="true" />

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/logo" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/default_notification_channel_id" />

        <activity
            android:name="com.svvaap.superdrop_admin.Order_Activity"
            android:exported="false" />
        <activity
            android:name="com.svvaap.superdrop_admin.VadaPav_Add_Activity"
            android:exported="false" />
        <activity
            android:name="com.svvaap.superdrop_admin.KFC_Add_Activity"
            android:exported="false" />
        <activity
            android:name="com.svvaap.superdrop_admin.Offer_item_addActivity"
            android:exported="false" />
        <activity
            android:name="com.svvaap.superdrop_admin.OwnersTabActivity"
            android:exported="false" />
        <activity
            android:name="com.svvaap.superdrop_admin.Offer_Add_Activity"
            android:exported="false" />
        <activity
            android:name="com.svvaap.superdrop_admin.OwnersActivity"
            android:exported="false" />
        <activity
            android:name="com.svvaap.superdrop_admin.DeleteActivity"
            android:exported="false" />
        <activity
            android:name="com.svvaap.superdrop_admin.Detail_Activity"
            android:exported="false" />
        <activity
            android:name="com.svvaap.superdrop_admin.OtpSendActivity"
            android:exported="false" />
        <activity
            android:name="com.svvaap.superdrop_admin.OtpVerifyActivity"
            android:exported="false" />
        <activity
            android:name="com.svvaap.superdrop_admin.Admin_Activity"
            android:exported="false" />
        <activity
            android:name="com.svvaap.superdrop_admin.BunOnTopAdd_Activity"
            android:exported="false" />
        <activity
            android:name="com.svvaap.superdrop_admin.BowlExpressAdd_Activity"
            android:exported="false" />
        <activity
            android:name="com.svvaap.superdrop_admin.StreetWokAdd_Activity"
            android:exported="false" />

        <receiver
            android:name="com.svvaap.superdrop_admin.adapter.AlarmStopReceiver"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name="com.svvaap.superdrop_admin.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name="com.svvaap.superdrop_admin.MyFirebaseMessagingService"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name="com.svvaap.superdrop_admin.BackgroundMusicService" />
    </application>

</manifest>